<div class="container">
    <div class="row">
        <div class="col-sm-5 mx-auto playlist">
            <p class="song-name">{{song_name}}</p>
            <p class="artist-name">{{artist_name}}</p>
            <a href="/search-results?{{search_url}}">Check out the song here!</a>
        </div>
    </div>
</div>