<body>
  <div class="container">
    <main>
      <div class="row justify-content-around">

  <!-- website description-->  
        <div class="col">
          <h2>Description</h2>
        </div>
        
        <!-- login form--> 
        <div class="form">
        <div class="col login-form">
          <form class="login-form">
            <div class="login-form">
              <label for="email-login">Email:</label>
              <input type="text" id="email-login" />
            </div>
            <div class="login-form">
              <label for="password-login">Password:</label>
              <input type="password" id="password-login" />
            </div>
            <div class="login-form">
              <button type="submit">Login</button>
            </div>
          </form>

<!--sign up form--> 

          <form class="signup-form">
            <div class="col">
            <div class="signup-form">
              <label for="username-signup">Username:</label>
              <input type="text" id="username-signup" />
            </div>
            <div class="signup-form">
              <label for="email-signup">Email:</label>
              <input type="text" id="email-signup" />
            </div>
            <div class="signup-form">
              <label for="password-signup">Password:</label>
              <input type="password" id="password-signup" />
            </div>
            <div class="signup-form">
              <button type="submit">Signup</button>
            </div>
            </div>
          </form>
        </div>
      </div>
      </div>
    </main>
  </div>
  <script src="/javascript/login.js"></script>
</body>