<div class="container">
  <h2>Find Your Latest Music</h2>
    <div class="row" style="margin-right:10%;">

    <!-- login form-->

    <div class=" col-6 align-self-center">
      <form class="login-form">
      <div class="">
        <div class="">
          <label for="email-login">Email:</label>
          <input type="text" id="email-login" style="color: #2a343b; "/>
        </div>
        <div class="">
          <label for="password-login">Password:</label>
          <input type="password" id="password-login" style="color: #2a343b; "/>
        </div>
        <div class="">
          <button type="submit">Login</button>
        </div>
        </form>
        </div>
    </div>
       <div class="col-6 align-self-start">

<!--sign up form-->
      <form class="signup-form">
      <div >

          <div >
          <label for="username-signup">Username:</label>
          <input type="text" id="username-signup" style="color: #2a343b; "/>
        </div>
        <div >
          <label for="email-signup">Email:</label>
          <input type="text" id="email-signup" style="color: #2a343b; "/>
        </div>
        <div >
          <label for="password-signup">Password:</label>
          <input type="password" id="password-signup" style="color: #2a343b; " />
        </div>
        <div >
          <button type="submit">Sign Up</button>
        </div>
        </form>

      

      

        

      </div>
      

    </div>
  </div>
</div>
<script src="/javascript/login.js"></script>
