<!-- playlist from saved results -->
<body>
  {{#if loggedIn}}
        <h2 id="playlist">Playlist</h2>
    {{#if songs}}
      {{#each songs as |song|}}
        {{> playlist-info song}}
      {{/each}}
    {{/if}}
  {{/if}}
  
</body>
