<body>
    {{!-- {{#if loggedIn}} --}}
    <!--- search item-->
    <div class="container">
        <div class="row">
            <h2 id="search-input"></h2>    
            <h3 id="search-input-description"></h3>
        </div>
        <div class="save">
            <button id="save">Save</button>
        </div>
    </div>
<!--- related search results-->
    <div>
        <div class="related">
            <p id="related-item-1"></p>
        </div>
        <div class="related">
            <p id="related-item-2"></p>
        </div>
        <div class="related">
            <p id="related-item-3"></p>
        </div>
    </div>
    <div>
        <p id="player"></p>
    </div>
    {{!-- {{/if}} --}}
    <script src="/javascript/display-data.js"></script>
    <script src="/javascript/save-button.js"></script>
</body>
