<body>
    {{!-- {{#if loggedIn}} --}}
    <section>
        <h2>Search for a song</h2>
        <div class="search-box">
            <input type="text" placeholder="Type to search..." id="song-name">
            <button id="search-button">Search</button>    
            <div id="search-data">
            </div>
        </div>
    </section>
    <script src="/javascript/generate-artists.js"></script>
    {{!-- {{/if}} --}}
</body>
