* {
  box-sizing: border-box;
}
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
html {
  height: 100%;
}

body {
<<<<<<< Updated upstream
  /* display: flex;
  justify-content: center;
  align-items: center; */
=======
>>>>>>> Stashed changes
  padding-top: 10px;
  min-height: 100%;
  font-family: "lato", sans-serif;
  color: #fff;
  background: #222222;
  background: #16222a;
  background: -webkit-linear-gradient(to top, #16222a, #3a6073);
  background: linear-gradient(to top, #16222a, #3a6073);
}
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
.container {
  background: rgba(58, 63, 68, 0.5);
  border-radius: 3px;
  box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
  width: 450px;
<<<<<<< Updated upstream
  /* display: flex;  
      flex-direction: column;
      justify-content: center; */
=======
>>>>>>> Stashed changes
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
}

.login-form,
.signup-form {
  color: #ffff;
  padding: 10px 10px 0;
  margin: 5px 10px 0;
  border-radius: 3px;
}
input {
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

/* main handlebars*/

main {
  margin: 15px 50px;
}
/* header {
    padding: 20px 35px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999; */
/* } */

header a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

<<<<<<< Updated upstream
.header {
  padding: 15px;
}
.playlist-nav {
  font-size: 18px;
}

=======
>>>>>>> Stashed changes
#email-login,
#password-login,
#email-signup,
#username-signup,
#password-signup {
  border-radius: 6px;
}
<<<<<<< Updated upstream

.login-form,
.signup-form {
  padding: 5px;
}

form {
  text-align: right;
  font-size: 20px;
}

input {
  width: 200px;
  height: 25px;
  margin: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* .form {
    margin: 25px 50px 25px 50px;
  } */

section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  text-align: center;
  font-size: 12px;
  padding-top: 100px;
  /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
}

/*nav bar when logged in*/
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

=======

.login-form,
.signup-form {
  padding: 5px;
}

form {
  text-align: right;
  font-size: 20px;
}

input {
  width: 200px;
  height: 25px;
  margin: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  text-align: center;
  font-size: 12px;
  padding-top: 100px;
}

/*nav bar when logged in*/
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

>>>>>>> Stashed changes
nav a {
  padding: 10px;
  margin: 12px;
}

/* search for song page */
div.search-box {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

#search-data.container {
  padding-top: 20px;
<<<<<<< Updated upstream
  padding-bottom: 20px;
=======
>>>>>>> Stashed changes
}

/*song results page */
#search-data.container a {
  text-decoration: none;
  font-size: 18px;
}

#search-input {
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

#search-input-description {
  text-align: center;
  color: white;
}

.save {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.related,
#player {
  text-align: center;
  padding: 12px;
}

<<<<<<< Updated upstream
div.related {
  color: #0074bf;
}

div.related a {
  color: #0074bf;
  text-decoration: none;
  font-weight: bold;
}

div.related a,
p {
  font-size: 18px;
}

=======
>>>>>>> Stashed changes
/* playlist page */
#playlist {
  text-align: center;
}

div.playlist {
  text-align: center;
  padding: 12px;
  margin: 8px;
  border-style: groove;
}

.song-name {
  font-style: italic;
  font-weight: bold;
<<<<<<< Updated upstream
  color: white;
  font-size: 18px;
}

.artist-name {
  color: white;
  font-size: 18px;
=======
>>>>>>> Stashed changes
}
