* {
    box-sizing: border-box;
  }

  /* main handlebars*/ 

  main {
    margin: 15px 50px;
  }
  header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

  header a {
    text-decoration: none;
  }

  #email-login, #password-login, #email-signup, #username-signup, #password-signup {
    border-radius: 6px;
  }

  .login-form, .signup-form {
    padding: 10px;
  }

  form{  
    text-align: right;
    font-size: 20px;
  }

  input {
    width: 200px;
    height: 25px;
    margin: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form {
    margin: 25px 50px 25px 50px;
  }

  section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer p {
    text-align: center;
    font-size: 12px;
    padding-top: 100px;
  }

/*nav bar when logged in*/ 
 nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
    padding: 10px;
  }

  nav a {
    padding: 10px;
    margin: 12px;
  }

/* search for song page */
  div.search-box {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  }
  
  #search-data.container {
    padding-top: 20px;
  }
/*song results page */
#search-input {
  text-align: center;  
  padding: 15px;
}

#search-input-description {
  text-align: center;
}

.save {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.related, #player {
  text-align: center;
  padding: 12px;
}
  
/* playlist page */
#playlist {
  text-align: center;
}

div.playlist {
  text-align: center;
  padding: 12px;
  margin: 8px;
  border-style: groove; 
}
  
.song-name {
  font-style: italic;
  font-weight: bold;
}